.upper-half{
    height: 500px;
    width: 350px;
    margin: 30px;
    border-radius: 10px;
    background-image: linear-gradient(#A88AE3,#00abff, rgb(123, 245, 237), #00000021) ;
}

.container{
    background-color: #f2e0e0;
    display: flex;
    justify-content: center;
}

.search-box{
    margin: 10px;
    padding: 5px;
    height: 30px;
    width: 320px;
    border-radius: 10px;
    background-color: azure;
}
.TypeBox{
    display: flex;
}

.searchImg{
    width: 22px;
    float: right;
    height: 23px;
    padding: 20px 10px 0px 0px;
}
.weatherReport{
    display: flex;
    flex-direction: column;
    justify-content: center;
}