<div class="container">
    <div class="upper-half">
        <div class="TypeBox">
        <input type="text" name="city" class="search-box" >
        <img class="searchImg" src="../../assets/images/search.png" alt="search">
        </div>
        <div class="weatherReport">
           <div style="display: flex;flex-direction: column;align-items: center; justify-content: center;">
            <img src="../../assets/images/mist.png" alt="imageOfWeather" style="height: 150px;width: 150px">
            <h1 class="temp"  style="margin: 10px;font-size: 55px">22°C</h1>
            <h1  class="city" >Rajahmundry</h1>
            </div> 
            <div style="display: flex;flex-direction: row;justify-content: space-around">
                <div style="display: flex;flex-direction: row;">
                    <img src="../../assets/images/humidity.png" alt="imageOfWeather" style="height: 40px">
                    <h4  class="humidity" style="margin: 10px;font-size: 25px">50%</h4>
                </div>
                    
                <div style="display: flex;flex-direction: row;">
                    <img src="../../assets/images/wind.png" alt="imageOfWeather" style="height: 40px">
                    <h4 class="windSpeed" style="margin: 10px;font-size: 25px">15 kmph</h4>
                </div>
            </div>
        </div>
    </div>
</div>